/* ------------COMPONENT STYLING-------------*/

body {
  background: url(imgs/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;
}

#savedSequences {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 20px 20px;
  min-height: 60px;
}

#sampleLibrary {
  margin-bottom: 50px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: transparent !important;
  focus: none;
}
/* ------------GENERAL -------------*/

.center {
  text-align: center;
}

.whiteFont {
  color: white;
  font-size: 0.9em;
  letter-spacing: 1px;
}

/* ------------SAMPLE BUTTONS-------------*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 25px;
  grid-auto-rows: minmax(100px, auto);
}

@media (min-width: 500px) {
  .sampleLibraryBtn {
    padding: 20px 0;
    width: 100px;
    height: 100px;
    margin: 5px 0;
  }
  .wrapper {
    grid-gap: 10px 25px;
  }
}

@media (max-width: 500px) {
  .sampleLibraryBtn {
    padding: 0px;
    width: 50px;
    height: 50px;
    margin: 5px 0;
  }
  .wrapper {
    grid-gap: 7px 10px;
  }
  .whiteFont {
    font-size: 0.65rem;
  }
}

.sampleLibraryBtn {
  background-color: white;
  opacity: 0.2;
  border: 0px;
  border-radius: 5px;
}

.btnPulseOnce {
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
}

/* Consider refactoring to use CSS variables */

/* Green */
.color1 {
  background-color: #00ff00 !important;
  opacity: 1;
}

.color1-font {
  color: #00ff00;
}

.color1-pulse {
  -webkit-animation-name: color1Animation;
  opacity: 1;
}

@-webkit-keyframes color1Animation {
  from {
    background-color: #00ff00;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #a1fa3d;
    -webkit-box-shadow: 0 0 18px #a1fa3d;
  }
  to {
    background-color: #00ff00;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

.color1Font-pulse {
  -webkit-animation-name: color1FontAnimation;
  opacity: 1;
}

@-webkit-keyframes color1FontAnimation {
  from {
    color: #00ff00;
  }
  50% {
    color: #a1fa3d;
    -webkit-box-shadow: 0 0 15px #a1fa3d;
  }
  to {
    color: #00ff00;
  }
}

/* Pink */
.color2 {
  background-color: #ff00ff !important;
  opacity: 1;
}

.color2-font {
  color: #ff00ff;
}

.color2-pulse {
  -webkit-animation-name: redAnimation;
  opacity: 1;
}

@-webkit-keyframes redAnimation {
  from {
    background-color: #ff00ff;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #ff58fd;
    -webkit-box-shadow: 0 0 18px #ff58fd;
  }
  to {
    background-color: #ff00ff;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

.color2Font-pulse {
  -webkit-animation-name: color2FontAnimation;
  opacity: 1;
}

@-webkit-keyframes color2FontAnimation {
  from {
    color: #ff00ff;
  }
  50% {
    color: #ff58fd;
    -webkit-box-shadow: 0 0 15px #ff58fd;
  }
  to {
    color: #ff00ff;
  }
}

/* Cyan */
.color3 {
  background-color: #00ffff !important;
  opacity: 1;
}

.color3-font {
  color: #00ffff;
}

.color3-pulse {
  -webkit-animation-name: color3Animation;
  opacity: 1;
}

@-webkit-keyframes color3Animation {
  from {
    background-color: #00ffff;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #67d8f6;
    -webkit-box-shadow: 0 0 18px #67d8f6;
  }
  to {
    background-color: #00ffff;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

.color3Font-pulse {
  -webkit-animation-name: color3FontAnimation;
  opacity: 1;
}

@-webkit-keyframes color3FontAnimation {
  from {
    color: #00ffff;
  }
  50% {
    color: #67d8f6;
    -webkit-box-shadow: 0 0 15px #67d8f6;
  }
  to {
    color: #00ffff;
  }
}

/* Orange */

.color4 {
  background-color: #ffa500 !important;
  opacity: 1;
}

.color4-font {
  color: #ffa500;
}

.color4-pulse {
  -webkit-animation-name: color4Animation;
  opacity: 1;
}

@-webkit-keyframes color4Animation {
  from {
    background-color: #ffa500;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #ffcc5b;
    -webkit-box-shadow: 0 0 18px #ffcc5b;
  }
  to {
    background-color: #ffa500;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

.color4Font-pulse {
  -webkit-animation-name: color4FontAnimation;
  opacity: 1;
}

@-webkit-keyframes color4FontAnimation {
  from {
    color: #ffa500;
  }
  50% {
    color: #ffcc5b;
    -webkit-box-shadow: 0 0 15px #ffcc5b;
  }
  to {
    color: #ffa500;
  }
}
