/* SAMPLE BUTTONS */
/*@media (max-width: 600px) {
  .sampleLibraryBtn {
    padding: 20px 0;
    width: 80px;
    height: 80px;
    margin: 5px 0 ;
}
@media (min-width: 600px) {
  .sampleLibraryBtn {
    padding: 20px 0;
    width: 80px;
    height: 80px;
    margin: 5px 0 ;
  }
}*/

.sampleLibraryBtn {
  padding: 20px 0;
  width: 80px;
  height: 80px;
  margin: 5px 0 ;
}

.btnPulse {
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

.green {
  -webkit-animation-name: greenPulse;
}

@-webkit-keyframes redPulse {
  from { background-color: #ff0000; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #bc2320; -webkit-box-shadow: 0 0 18px #bc2320; }
  to { background-color: #ff0000; -webkit-box-shadow: 0 0 9px #333; }
}

.red {
  -webkit-animation-name: redPulse;
}

@-webkit-keyframes bluePulse {
  from { background-color: #0000ff; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #0000c1; -webkit-box-shadow: 0 0 18px #0000c1; }
  to { background-color: #0000ff; -webkit-box-shadow: 0 0 9px #333; }
}

.blue {
  -webkit-animation-name: bluePulse;
}

@-webkit-keyframes yellowPulse {
  from { background-color: #ffff00; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #d8d800; -webkit-box-shadow: 0 0 18px #d8d800; }
  to { background-color: #ffff00; -webkit-box-shadow: 0 0 9px #333; }
}

.yellow{
  -webkit-animation-name: yellowPulse;
}

/* OTHER */

.center {
  text-align: center;
}
